In [1]:
import numpy as np
import pandas as pd
import os
import time
path = r"C:/Users/siddh/Desktop/analytics/ECEN 689/Project 1"
os.chdir(path)

In [31]:
#Getting columns names with 'Values' in it as others not important
health = pd.read_csv(path + '/2016CHR_CSV_Analytic_Data_v2.csv')
sub = 'Value'
names_reqd = [s for s in health.columns.values if sub in s]
names_final = ['STATECODE','COUNTYCODE','State','County'] + names_reqd
health_new = health[names_final]
health_new.head()

C:\Users\siddh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (263) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATECODE,COUNTYCODE,State,County,Premature death Value,Poor or fair health Value,Poor physical health days Value,Poor mental health days Value,Low birthweight Value,Adult smoking Value,...,Health care costs Value,Other primary care providers Value,Median household income Value,Children eligible for free lunch Value,Residential segregation - Black/White Value,Residential segregation non-White/White Value,Homicide rate Value,Population estimate Value,Population that is not proficient in English Value,Population living in a rural area Value
0,1,0,AL,Alabama,"9,545",0.219,4.6,4.7,0.10,0.211,...,"9,950",54,"42,917",0.514,57.892,52.319,9.0,"4,849,377",0.013,0.410
1,1,1,AL,Autauga County,"9,215",0.194,4.4,4.3,0.09,0.187,...,"10,166",20,"54,366",0.369,32.842,28.534,5.1,"55,395",0.005,0.420
2,1,3,AL,Baldwin County,"7,455",0.160,4.1,4.2,0.09,0.186,...,"9,490",34,"49,626",0.362,47.072,34.716,3.8,"200,111",0.014,0.423
3,1,5,AL,Barbour County,"8,500",0.257,4.9,4.7,0.12,0.214,...,"10,077",19,"34,971",NaN,30.789,25.656,4.5,"26,887",0.022,0.678
4,1,7,AL,Bibb County,"11,008",0.220,4.8,4.6,0.12,0.210,...,"10,674",27,"39,546",0.550,40.560,40.009,7.4,"22,506",0.005,0.684

In [32]:
#To get 0's before county numbers
countycode = np.array(health_new['COUNTYCODE'])
countycode =  countycode.astype(str)
for i in range(len(countycode)): 
  countycode[i] = countycode[i].zfill(3)

In [33]:
#Combining county and state code
health_new['COUNTYCODE'] = countycode
health_new['STATECODE'] = health_new['STATECODE'].astype(str) #Statecode needs to be in str to combine both
health_new['FIPS'] = health_new[['STATECODE','COUNTYCODE']].apply(lambda x: ''.join(x), axis=1)
health_new = health_new.drop(['STATECODE', 'COUNTYCODE', 'State', 'County'], axis=1)

C:\Users\siddh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\siddh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\siddh\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [17]:
income = pd.read_csv('Aggregated Income.csv')

In [21]:
income.head()
income = income.rename(columns={'County': 'FIPS'})

,FIPS,n1,mars1,mars2,mars4,prep,n2,numdep,total_vita,vita,...,a11070,a10960,a11560,a06500,a10300,a85530,a85300,a11901,a11902,avg_income_n2_agi
0,1001,6160,2360,1400,2370,3690,12900,5520,0,0,...,711.931008,166.524806,22.957364,712.238760,918.293798,0.000000,0.000000,108.798450,4549.137209,16.430620
1,1003,96270,39180,40860,14170,48000,190890,59720,1750,270,...,396.985751,108.103358,32.867096,10646.549112,11488.307821,23.238933,43.143329,1584.483210,3927.023679,31.412955
2,1005,4230,1590,1360,1210,2710,8630,3160,0,0,...,99.494786,18.059096,0.000000,354.590962,422.663963,0.000000,0.000000,54.924681,720.022016,18.287601
3,1007,25770,9510,11170,4470,13900,54770,19530,120,80,...,142.890999,71.592295,7.430162,6374.095855,6748.320431,1.491693,2.099690,635.229870,2165.066642,26.999781
4,1009,8400,2900,4320,1020,5350,18440,6190,30,0,...,138.116594,27.430043,8.217462,1584.805315,1771.816161,0.000000,0.000000,171.600868,1351.374187,22.035900

In [49]:
type(income['FIPS'][2])
type(health_new['FIPS'][2])

#Convert to int to match fips in both data sets
health_new['FIPS']  = health_new['FIPS'].astype('int')
final_df = pd.merge(income,health_new,on = 'FIPS',how = 'left')
final_df.head()

,FIPS,n1,mars1,mars2,mars4,prep,n2,numdep,total_vita,vita,...,Health care costs Value,Other primary care providers Value,Median household income Value,Children eligible for free lunch Value,Residential segregation - Black/White Value,Residential segregation non-White/White Value,Homicide rate Value,Population estimate Value,Population that is not proficient in English Value,Population living in a rural area Value
0,1001,6160,2360,1400,2370,3690,12900,5520,0,0,...,"10,166",20,"54,366",0.369,32.842,28.534,5.1,"55,395",0.005,0.420
1,1003,96270,39180,40860,14170,48000,190890,59720,1750,270,...,"9,490",34,"49,626",0.362,47.072,34.716,3.8,"200,111",0.014,0.423
2,1005,4230,1590,1360,1210,2710,8630,3160,0,0,...,"10,077",19,"34,971",NaN,30.789,25.656,4.5,"26,887",0.022,0.678
3,1007,25770,9510,11170,4470,13900,54770,19530,120,80,...,"10,674",27,"39,546",0.550,40.560,40.009,7.4,"22,506",0.005,0.684
4,1009,8400,2900,4320,1020,5350,18440,6190,30,0,...,"10,093",9,"45,567",0.450,62.466,34.353,3.3,"57,719",0.018,0.900

In [50]:
final_df.to_csv('Final Merged DF.csv', index = False)