# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [20]:
import pandas as pd
import numpy as np

student_identity = 'kanch_sat'
filename = '1challenge1activity_' + student_identity + '.csv'
sample_df = pd.read_csv('C:/Users/asus/Documents/TAMU/Fall-18/ECEN-689/Github/ECEN689-Fall2018/Challenges/1Files/' + filename)

In [21]:
sample_df.iloc[:, 3:].head()

,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,-0.356745,-0.183028,-0.382286,-0.022849,1.256347,0.801757,0.473417,-1.241543,-1.327338,0.486276,0.220107,-0.794989
1,1.667534,-0.821310,0.638524,-0.037975,0.634775,1.454144,1.670511,1.367984,1.020593,-0.728912,1.117575,-0.911815
2,2.160183,2.099219,-0.849233,-0.301538,-0.463306,0.242122,0.729704,1.026922,-1.025407,0.556614,1.124122,-0.169490
3,0.875217,-0.242141,0.645199,0.928085,0.499258,1.175876,-0.021953,0.407244,0.187456,0.767720,-1.300919,1.609959
4,-0.561347,1.331031,-0.425707,-0.459405,-0.342327,0.343183,1.091081,0.730526,0.574267,-0.408223,-0.224992,-0.893110

In [22]:
sample_df["Mean"] = sample_df.iloc[:, 3:].mean(axis=1)

In [23]:
sample_df["Variance"] = sample_df.iloc[:, 3:].var(axis=1)

In [24]:
sample_df.head()

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,-0.089240,0.625217,-0.356745,-0.183028,-0.382286,-0.022849,1.256347,0.801757,0.473417,-1.241543,-1.327338,0.486276,0.220107,-0.794989
1,1,0.589302,0.957255,1.667534,-0.821310,0.638524,-0.037975,0.634775,1.454144,1.670511,1.367984,1.020593,-0.728912,1.117575,-0.911815
2,2,0.427493,1.109655,2.160183,2.099219,-0.849233,-0.301538,-0.463306,0.242122,0.729704,1.026922,-1.025407,0.556614,1.124122,-0.169490
3,3,0.460917,0.569099,0.875217,-0.242141,0.645199,0.928085,0.499258,1.175876,-0.021953,0.407244,0.187456,0.767720,-1.300919,1.609959
4,4,0.062915,0.521392,-0.561347,1.331031,-0.425707,-0.459405,-0.342327,0.343183,1.091081,0.730526,0.574267,-0.408223,-0.224992,-0.893110

In [34]:
sample_df.to_csv('C:/Users/asus/Documents/1challenge1activity_kanch_sat.csv')

In [33]:
sample_df.to_csv('C:/Users/asus/Documents/TAMU/Fall-18/ECEN-689/Github/ECEN689-Fall2018/Challenges/1Files/1challenge1activity_kanch_sat.csv')

PermissionError: [Errno 13] Permission denied: 'C:/Users/asus/Documents/TAMU/Fall-18/ECEN-689/Github/ECEN689-Fall2018/Challenges/1Files/1challenge1activity_kanch_sat.csv'