In [73]:
path = r'C:/Users/sayee/Desktop'
file = '/challenge_1.csv'
import pandas as pd
import numpy as np

df = pd.read_csv(path + file)
df.head()

,Unnamed: 0,Unnamed: 0.1,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,0,NaN,NaN,1.063447,0.175295,1.175398,1.104067,-0.824664,0.837315,-0.064329,-1.181807,1.168320,0.066383,-0.796837,-1.447249
1,1,1,NaN,NaN,-1.698462,0.116948,-1.228157,-0.864575,-1.204354,-2.163174,-0.673860,-0.398914,-1.418876,-2.378626,-0.065328,1.409501
2,2,2,NaN,NaN,-1.331680,-0.799750,-2.392722,-1.420257,-0.966648,-0.559745,-0.088507,-2.223824,-2.378958,-2.380164,-1.920523,-1.786419
3,3,3,NaN,NaN,-2.406449,-2.690498,-1.217478,-0.801823,-0.554580,-1.838982,-2.320248,-0.588497,-2.183575,-0.740021,-0.446200,-1.608117
4,4,4,NaN,NaN,0.221224,1.314470,0.520975,1.276359,0.595162,1.141142,0.157312,-0.311390,1.908515,-0.749426,-0.563784,0.875726

In [74]:
df.Mean = df.loc[:,'Sample 0':'Sample 11'].apply(np.mean,axis=1)
df.Variance = df.loc[:,'Sample 0':'Sample 11'].apply(np.var,axis=1)

In [75]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,0,0.106278,0.875622,1.063447,0.175295,1.175398,1.104067,-0.824664,0.837315,-0.064329,-1.181807,1.168320,0.066383,-0.796837,-1.447249
1,1,1,-0.880656,1.021057,-1.698462,0.116948,-1.228157,-0.864575,-1.204354,-2.163174,-0.673860,-0.398914,-1.418876,-2.378626,-0.065328,1.409501
2,2,2,-1.520766,0.567311,-1.331680,-0.799750,-2.392722,-1.420257,-0.966648,-0.559745,-0.088507,-2.223824,-2.378958,-2.380164,-1.920523,-1.786419
3,3,3,-1.449706,0.621271,-2.406449,-2.690498,-1.217478,-0.801823,-0.554580,-1.838982,-2.320248,-0.588497,-2.183575,-0.740021,-0.446200,-1.608117
4,4,4,0.532190,0.612126,0.221224,1.314470,0.520975,1.276359,0.595162,1.141142,0.157312,-0.311390,1.908515,-0.749426,-0.563784,0.875726