# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [1]:
import pandas as pd
import numpy as np

student_identity = 'yneehar'
filename = '1challenge1activity_' + student_identity + '.csv'
sample_df = pd.read_csv('C:\\Users\\Neehar\\myproject\\ECEN689-Fall2018\\Challenges\\1Files\\' + filename)

sample_df.head(2)

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,-0.098337,1.223444,-0.324709,-0.06500,0.424251,-0.567110,-0.806622,1.117459,-0.076169,-0.653556,2.791328,-1.819018,-0.473165,-0.727734
1,1,-0.763160,0.519815,-0.985969,0.54156,-0.406337,-2.150038,-0.894227,-0.717144,0.371001,-1.224361,-1.434798,-1.286712,-0.348863,-0.622028

In [3]:
sample_df['Mean'] = np.mean(sample_df[sample_df.columns[3:15]], axis=1)
sample_df['Variance'] = np.var(sample_df[sample_df.columns[3:15]], axis=1, ddof=1)
sample_df.head()

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,-0.098337,1.334667,-0.324709,-0.06500,0.424251,-0.567110,-0.806622,1.117459,-0.076169,-0.653556,2.791328,-1.819018,-0.473165,-0.727734
1,1,-0.763160,0.567071,-0.985969,0.54156,-0.406337,-2.150038,-0.894227,-0.717144,0.371001,-1.224361,-1.434798,-1.286712,-0.348863,-0.622028

In [6]:
sample_df = sample_df.drop(['Unnamed: 0'], axis=1)
sample_df.head()

,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,-0.098337,1.334667,-0.324709,-0.065000,0.424251,-0.567110,-0.806622,1.117459,-0.076169,-0.653556,2.791328,-1.819018,-0.473165,-0.727734
1,-0.763160,0.567071,-0.985969,0.541560,-0.406337,-2.150038,-0.894227,-0.717144,0.371001,-1.224361,-1.434798,-1.286712,-0.348863,-0.622028
2,0.191130,0.420338,-0.712144,-0.590088,0.556501,0.697237,0.030094,0.844488,0.278723,-0.114011,0.498133,1.117940,0.571057,-0.884371
3,0.990161,0.316309,2.236590,0.533463,0.318012,0.670811,0.461233,1.100107,0.465881,1.118475,1.492185,0.985061,0.939298,1.560811
4,-1.764618,1.380379,-1.742358,-3.464197,-0.813333,-1.348975,-1.521323,-3.135172,0.861019,-0.889102,-1.739186,-2.791374,-2.308065,-2.283350

In [7]:
sample_df.to_csv('C:\\Users\\Neehar\\myproject\\ECEN689-Fall2018\\Challenges\\1Files\\' + filename)