# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [20]:
import pandas as pd
import numpy as np

student_identity = 'vedantmehta08'
filename = '1challenge1activity_' + student_identity + '.csv'
sample_df = pd.read_csv('C:/Users/Vedant/ECEN689-Fall2018/Challenges/1Files/' + filename)

sample_df.head()

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,NaN,NaN,-1.026123,0.509353,0.144199,-1.067747,1.754203,-0.621574,-0.734998,-0.351380,0.578071,-0.951841,-1.951573,-0.760014
1,1,NaN,NaN,1.218045,0.063239,1.069895,-0.086394,1.722002,2.000129,-0.904331,0.225907,0.065276,0.062289,-0.253698,0.768365
2,2,NaN,NaN,1.074878,1.536095,2.798294,2.399028,0.717212,1.013062,2.002991,1.676591,0.202929,0.490144,2.195902,0.513870
3,3,NaN,NaN,-1.021075,-1.593337,-1.291092,-0.940280,-1.417609,-0.303385,-2.957798,-0.162065,0.193281,-0.151431,-2.915844,-1.394363
4,4,NaN,NaN,0.238514,-0.017351,-0.483935,0.241852,0.355538,-1.278340,-0.420597,1.517999,-0.778594,0.978573,1.454544,0.770376

In [21]:
#Remove the first column
sample_df = sample_df.iloc[:, 1:]

In [26]:
sample_df['Mean'] = sample_df.iloc[:, 2:].mean(axis=1)

In [27]:
sample_df.head()

,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,-0.373285,NaN,-1.026123,0.509353,0.144199,-1.067747,1.754203,-0.621574,-0.734998,-0.351380,0.578071,-0.951841,-1.951573,-0.760014
1,0.495894,NaN,1.218045,0.063239,1.069895,-0.086394,1.722002,2.000129,-0.904331,0.225907,0.065276,0.062289,-0.253698,0.768365
2,1.385083,NaN,1.074878,1.536095,2.798294,2.399028,0.717212,1.013062,2.002991,1.676591,0.202929,0.490144,2.195902,0.513870
3,-1.162917,NaN,-1.021075,-1.593337,-1.291092,-0.940280,-1.417609,-0.303385,-2.957798,-0.162065,0.193281,-0.151431,-2.915844,-1.394363
4,0.214882,NaN,0.238514,-0.017351,-0.483935,0.241852,0.355538,-1.278340,-0.420597,1.517999,-0.778594,0.978573,1.454544,0.770376

In [29]:
sample_df['Variance'] = sample_df.iloc[:, 2:].var(axis=1)

In [30]:
sample_df.head()

,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,-0.373285,0.959531,-1.026123,0.509353,0.144199,-1.067747,1.754203,-0.621574,-0.734998,-0.351380,0.578071,-0.951841,-1.951573,-0.760014
1,0.495894,0.744217,1.218045,0.063239,1.069895,-0.086394,1.722002,2.000129,-0.904331,0.225907,0.065276,0.062289,-0.253698,0.768365
2,1.385083,0.710033,1.074878,1.536095,2.798294,2.399028,0.717212,1.013062,2.002991,1.676591,0.202929,0.490144,2.195902,0.513870
3,-1.162917,1.026095,-1.021075,-1.593337,-1.291092,-0.940280,-1.417609,-0.303385,-2.957798,-0.162065,0.193281,-0.151431,-2.915844,-1.394363
4,0.214882,0.755505,0.238514,-0.017351,-0.483935,0.241852,0.355538,-1.278340,-0.420597,1.517999,-0.778594,0.978573,1.454544,0.770376

In [31]:
sample_df.to_csv('C:/Users/Vedant/1challenge1activity_vedantmehta08.csv')