In [16]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
combined_training_df1 = pd.read_csv('D:/Study/3rd Sem/ECEN 689/Challenge 4 - Wine Testing/Part 2/winequality-combined-training.csv')
combined_testing_df1 = pd.read_csv('D:/Study/3rd Sem/ECEN 689/Challenge 4 - Wine Testing/Part 2/winequality-combined-testing.csv')

In [4]:
combined_training_df = combined_training_df1.drop(labels='Id', axis=1) 
combined_testing_df = combined_testing_df1.drop(labels='Id', axis=1)

In [6]:
x_train = combined_training_df.drop('type', axis=1)

In [8]:
clf = tree.DecisionTreeClassifier()

In [9]:
clf = clf.fit(x_train,combined_training_df.type)

In [14]:
a = clf.fit(x_train,combined_training_df.type)
pred_train = a.predict(x_train)

In [17]:
Accuracy = accuracy_score(combined_training_df.type,pred_train)*100

In [18]:
Accuracy

99.980380616048663

In [ ]:
accuracy_score(y_test,y_pred)*100

In [10]:
x_test = combined_testing_df

In [12]:
y_pred = clf.predict(x_test)

In [20]:
y_pred_df = pd.DataFrame(y_pred,columns=["type"])

In [21]:
y_pred_df

      type
0        0
1        0
2        0
3        0
4        0
5        1
6        1
7        1
8        0
9        1
10       0
11       1
12       0
13       0
14       1
15       0
16       0
17       0
18       1
19       1
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       1
...    ...
1370     0
1371     1
1372     1
1373     1
1374     0
1375     0
1376     0
1377     1
1378     0
1379     1
1380     0
1381     0
1382     1
1383     0
1384     0
1385     1
1386     0
1387     0
1388     0
1389     0
1390     0
1391     1
1392     0
1393     0
1394     0
1395     0
1396     0
1397     0
1398     1
1399     1

[1400 rows x 1 columns]

In [22]:
y_pred_df.insert(loc = 0,column = 'Id',value = combined_training_df1.Id)

In [23]:
y_pred_df

        Id  type
0        0     0
1        1     0
2        2     0
3        3     0
4        4     0
5        5     1
6        6     1
7        7     1
8        8     0
9        9     1
10      10     0
11      11     1
12      12     0
13      13     0
14      14     1
15      15     0
16      16     0
17      17     0
18      18     1
19      19     1
20      20     0
21      21     0
22      22     0
23      23     1
24      24     0
25      25     0
26      26     0
27      27     0
28      28     0
29      29     1
...    ...   ...
1370  1370     0
1371  1371     1
1372  1372     1
1373  1373     1
1374  1374     0
1375  1375     0
1376  1376     0
1377  1377     1
1378  1378     0
1379  1379     1
1380  1380     0
1381  1381     0
1382  1382     1
1383  1383     0
1384  1384     0
1385  1385     1
1386  1386     0
1387  1387     0
1388  1388     0
1389  1389     0
1390  1390     0
1391  1391     1
1392  1392     0
1393  1393     0
1394  1394     0
1395  1395     0
1396  1396     0
1397  1397     0
1398  1398     1
1399  1399     1

[1400 rows x 2 columns]

In [25]:
y_pred_df.to_csv("D:/Study/3rd Sem/ECEN 689/Challenge 4 - Wine Testing/Part 2/" + "winequality-combined-sample.csv",index=False)